@font-face {
  font-family: AvenirLTPro-Heavy;
  src: url("../public/fonts/AvenirLTPro-Heavy.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: AvenirLTStd-Book;
  src: url("../public/fonts/AvenirLTStd-Book.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("../public/fonts/AvenirLTStd-Roman.woff") format("woff");
  font-display: swap;
}
.TopContainer{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Background {
  background-image: url("../public/images/jordan-heinrichs-MgWOWZ8r5Ig-unsplash.jpeg");
  background-size: cover;
  height: 90vh;
  clip-path: polygon(0 0,100% 0,100% 100%,0 45%);
  max-height: 90vh;
  position: absolute;
  width:100%;
}
.HeaderContainer {
  position: absolute;
  flex: 3;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height:45%;
  padding-top: 24vh;
}

.MainHeading {
  width: 100%;
  height: 9vh;
  font-size: 10vh;
  color: #fff;
  padding: 22px;
  font-family: AvenirLTPro-Heavy;
  text-align: center;
}

.SubHeading {
  max-height: 4vh;
  color: #fff;
  font-size: 2.5vh;
  text-align: center;
  margin-bottom: 6vh;
  margin-top: 5vh;
  flex: 2 1;
  display: flex;
  flex-direction: row;
  font-family: AvenirLTStd-Book;
}

.HeaderDot {
  width: 7px;
  height: 7px;
  border-radius: 45px;
  border-color: #fff;
  margin: 5px;
  background-color: #fff;
  font-size: 2.5vh;
}

.SearchContainer {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 45px;
  max-height: 4vh;
  width: 350px;
  border: 1px solid #000;
  flex: 2 1;
  flex-direction: row;
  display: flex;
  box-shadow: 0 6px 8.3px 0 rgb(0 0 0 / 39%);
  font-size: 2vh;
}

.SearchLink {
  height:100%;
  width:93%;
}

.SearchLink a{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

.SearchText{
  display: flex;
  align-items: center;
  width: 80%;
  color: #000;
  background-color: transparent;
  margin-left: 1vw;
  font-size: 2vh;
  height: 40.96px;
  line-height: 46.08px;
  font-family: AvenirLTStd-Book;
}

.SearchIcon {
  color: #000;
  margin-left: 3%;
}

.AddIcon{
  color: #000;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .Background {
    width:100%;
    height: 45vh;
  }
}

@media only screen and (min-width: 600px) {
  .Background {
    width:100%;
    height: 60vh;
  }
}

@media only screen and (min-width: 992px) {
  .Background {
    width:100%;
    height:90vh;
  }
}

@media only screen and (max-width: 600px) {
  .SearchContainer{
    height:2.5vh;
    width: 300px;
  }
  .SearchText{
    font-size: 1.5vh;
  }
  .HeaderContainer{
    padding-top: 18vh;
  }

}
